@import "https://fonts.googleapis.com/css?family=Raleway";

.general-admin {
  background-color: rgb(214, 175, 111);
  color: white;
}

section.adminNav {
  height: 50px;
  font-family: Raleway;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 155, 85);
}

section.adminNav a {
  color: #fff;
  text-decoration: none;
  font: 20px Raleway;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

section.adminNav a:hover {
  color: rgb(21, 21, 170);
}

/************** Select CSS *************/

.selection {

  background-color: #ced2e6;
  color:  #6f81a5;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
  rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 4px;
  
}
.select-option {
  position: relative;
  display: flex;
  flex-direction: column;
 
}

.select-option input {
  background-color: #000d56;
  color: white;
  height: 64px;
  border-radius: 4px;
  border: none;
  padding: 24px 16px 4px 16px;
  font-size: 16px;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.select-option input:focus {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

@media (max-width: 768px) {
  section.adminNav a {
    font: 14px Raleway;
  }
}

