.category-container {

  display: flex;
  height: 100%;
  margin: 0px 150px;

}

.category-box {
  width: 350px;
  height: 240px;
  overflow: hidden;
  margin: 50px;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.category-box h2 {
  display: none;
  top: 40%;
  left: 40%;
  position: absolute;
}
.category-box:hover h2 {
  display: block;
}

.category-box img {
  filter: grayscale(70%);
  width: 100%;
  transition: 0.5s all ease-in-out;
  border-radius: 20px;
}
.category-box:hover img {
  transform: scale(1.5);
  filter: grayscale(0%);
}

@media (max-width: 768px) {
  .category-container {

   margin: 0;
  }
}
