.general-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.form-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  align-items: center;
}

.form-container form {
  padding-top: 80px;
  width: 30%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.form-container form h3 {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  border-radius: 10px;
  border: 1px solid #000d56;
  justify-content: center;
  margin-bottom: 40px;
  color: #000d56;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* -------------  General Form --------------*/

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container:focus-within label {
  transform: translate(0, 12px) scale(0.8);
  color: rgb(153, 98, 10);
}

.input-container .filled {
  transform: translate(0, 12px) scale(0.8);
}

.input-container label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 23px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #6f81a5;
  font-size: 16px;
  line-height: 1;
  left: 16px;
}

.input-container input {
  background-color: #ced2e6;
  color: rgb(21, 21, 170);
  height: 64px;
  border-radius: 4px;
  border: none;
  padding: 24px 16px 4px 16px;
  font-size: 16px;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.input-container input:focus {
  box-shadow: none;
}
