@import "https://fonts.googleapis.com/css?family=Raleway";

section.navbar {
  position: relative;
  height: 60px;
  font-family: Raleway;
  margin: 0 auto;
  padding: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(21, 21, 170);
  z-index: 99;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

section.navbar a {
  color: #fff;
  text-decoration: none;
  font: 20px Raleway;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

section.animation a:before,
section.animation a:after {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 2px;
  content: "";
  background: #fff;
  transition: all 0.3s;
}

section.animation a:before {
  left: 0px;
  top: 0px;
}

section.animation a:after {
  right: 0px;
  bottom: 0px;
}

section.animation a:hover:before,
section.animation a:hover:after {
  opacity: 1;
  height: 2px;
  width: 100%;
}
