
/* 
                    - CHROMA -
background-color: papayawhip;
background-color: rgb(21, 21, 170);

*/


/* ************************{ General configuration }*********************/

body {
  min-height: 100vh;
  /* max-width: 400px; */
  background-color: papayawhip; 
  margin: 0 auto;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { background-color: #000; } 


.App {
  text-align: center;
}

#logo-banner {
  height: 200px;
}
#logo-banner img {
  height: 100%;
}

.centered-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}