/* ************************{ General configuration }*********************/

body {
  min-height: 100vh;
  /* max-width: 400px; */
  background-color: papayawhip; 
  margin: 0 auto;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { background-color: #000; } 


.App {
  text-align: center;
}

#logo-banner {
  height: 200px;
}
#logo-banner img {
  height: 100%;
}