/* 
                    - CHROMA -
background-color: papayawhip;
background-color: rgb(21, 21, 170); (blue)
background-color: #516efd;  (Light-blue)
color: white;
color: black;

box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

*/

/* ************************{ General configuration }*********************/

body {
  min-height: 100vh;
  width: 100vw;
  /* max-width: 400px; */
  background-color: papayawhip;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #000;
}

.App {
  width: 100vw;
  text-align: center;
}

h2.margin-top {
  margin-top:20px;
}

#logo-banner {
  height: 200px;
}

#logo-banner img {
  height: 100%;
}

.error-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.centered-container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.general-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.text-container {
  margin: 30px;
}

/* ******************************** Buttons ********************** */
.general-btn-blue {
  cursor: pointer;
  width: 100%;
  padding: 5px;

  background-color: #516efd;
  color: white;
  border-radius: 10px;
}

.general-btn-blue:hover {
  background-color: rgb(21, 21, 170);
  color: white;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
/******************************* uploader cloudinary  **************/

.uploader-img {
  width: 30%;
  margin: 0 auto;
  border-radius: 5%;
  border: 1px solid #000d56;
}

.loader {
  margin: 0 auto;
}

.pp .form-container {
  color: white;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}
.logo {
  display: none;
}
@media (max-width: 768px) {
  #logo-banner {
    display: none;
  }
  .logo {
    width: 100px;
    display: block;
     position:fixed;
  }
  .logo img {
    width: 80%;
   
  }
}
